.signin,
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 300px;
    justify-content: center;
    margin-bottom: 200px;
  }

  &__btns {
    margin-top: 10px;
  }

  &__link {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}