extends ../layout

block vars
    - const title = "Profile edit password"
    - 
        const fields = [
            {label: 'old password', type: 'password', name: 'oldPassword'},
            {label: 'new password', type: 'password', name: 'newPassword'}, 
            {label: 'new password', type: 'password', name: 'newPassword'},
        ]

block styles
    link(href='../../index.css' rel='stylesheet')

block content
    include ../../components/avatar/avatar.pug
    include ../../components/button/button.pug
    include ../../components/field/field.pug
    .profile
        .profile__logo
            +avatar('../../../static/logo.svg')
        form.profile__form
            each item in fields 
                +field(item.label, item.type, item.name)
            +button('submit', 'profile__form_btn') Save
            a(href='../profile/index.pug') Back to profile


