block vars
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    block styles
      link(href='../index.css' rel='stylesheet')
  body
    main
      block content
      
    block scripts