.search {
    display: flex;
    align-items: center;

    &__input {
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        height: 38px;
        width: 100%;
        background-color: var(--color-border);
        outline: none;
        padding: 0 10px;
    }

    &__icon {
        width: 25px;

    }
}