.avatar {
    background-color: #EFEFEF;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        max-width: 60px;
    }
}